<h2>User form</h2>
<form name="myForm" ng-submit="handleSubmit()">
	<div>First name:
		<input name="firstName" ng-model="user.firstName" required placeholder="Enter the first name">
	</div>
	<div>Last name:
		<input name="lastName" ng-model="user.lastName" required placeholder="Enter the last name">
	</div>
	<input type="submit" id="submit" value="Submit" class="btn btn-primary"/>
</form>
