<h2>User list</h2>
<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>
                <a href="#/new">
                    <i class="icon-plus-sign"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:search | orderBy:'firstName'">
            <td>
                {{user.firstName}}
            </td>
            <td>{{user.lastName}}</td>
            <td>
                <a href="#/edit/{{user.id}}">
                    <i class="icon-pencil"></i>
                </a>
            </td>
        </tr>
    </tbody>