<!doctype html>
<html ng-app='myApp'>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="my_lib.js"></script>
</head>

<body>
		<span ng-controller='myController'>{{helloText}}</span>
		<span ng-controller='myMinifyableController'>{{worldText}}</span>
</body>

</html>

