<!doctype html>
<html ng-app>

<head>
	<link rel="stylesheet" href="http://angularjs.org/css/bootstrap.min.css">
    <script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   
    <div ng-controller="InvoiceCntl">
        <b>Invoice:</b>
        <br>
        <br>
        <form name="invoiceForm">

            <table>
                <tr>
                    <td>Quantity</td>
                    <td>Cost</td>
                </tr>
                <tr>
                    <td>
                        
                        <!--
2) ng-class:

The ngClass directive allows you to dynamically set CSS classes on an HTML element by databinding an expression that represents all classes to be added.
The directive won't add duplicate classes if a particular class was already set.
When the expression changes, the previously added classes are removed and only then the new classes are added.
The expression can be one of the followings:
- a string with coma delimited class names
- a map where class names mapped to boolean values (evaluetad against the scope)
- an array of classes
                        -->
                        
                        <!--
3) required:

Sets required validation error key if the value is not entered.
                        -->
                        
                        <!--
4) ng-pattern:

Sets pattern validation error key if the value does not match the RegExp pattern expression. Expected value is /regexp/ for inline patterns or regexp for patterns defined as scope expressions.
                        -->
                        
                        <input name="qty" ng-model="qty" ng-class="{ customError: invoiceForm.qty.$invalid }" type="number" step="1" min="0" required ng-pattern="/^\d+$/">
                    </td>
                    <td>
                        <input type="number" name="cost" ng-model="cost" required>
                    </td>
                </tr>
            </table>
        </form>

        <hr>
        
        <!--
5) ng-show:

The ngShow directive shows or hides the given HTML element based on the expression provided to the ngShow attribute. The element is shown or hidden by removing or adding the ng-hide CSS class onto the element. The .ng-hide CSS class is predefined in AngularJS and sets the display style to none
        -->
        
        <!-- 
6) .$invalid flag (FormController):

True if at least one containing control or form is invalid.


        -->
        
        <div ng-show="!invoiceForm.$invalid">
            <b>Total:</b>{{qty * cost | currency}}
        </div>
		
        <span ng-show="invoiceForm.qty.$invalid" class="customError">
            Invalid Quantity!
        </span>
		
        <span ng-show="invoiceForm.cost.$invalid" class="customError">
            Invalid Cost!
        </span>
    </div>
</body>

</html>