<!doctype html>
<html ng-app = 'testFilter'>
<head>
	<meta charset="utf-8"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="filter.js"></script>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<h2>Built in filters</h2>
	
	<h3>Currency:</h3>
	{{17.3 | currency}}
	<hr>
	
	<h3>Filter:</h3>
	
	<div ng-controller='listCtrl' class='fixHeight'>
	    Search: <input ng-model="searchText">
		
		<br>
		<br>
		[ <a href="" ng-click="myPredicate=''">unsorted</a> ]
		<br>
		<table>
        <tr>
          <th><a href="" ng-click="myPredicate = 'name'; reverse=false">Name</a>
              (<a href="" ng-click="myPredicate = '-name'; reverse=false">^</a>)</th>
          <th><a href="" ng-click="myPredicate = 'price'; reverse=!reverse">Price</a></th>
        </tr>
		<tr ng-repeat="item in items | filter:searchText | orderBy:myPredicate:reverse">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
        </tr>
      </table>

    </div>
	
	
	<hr>
	
	<h3>Number:</h3>
	<code ng-non-bindable>{{17.654321 | number:0}}</code>
	<div> {{17.654321 | number:0}}</div>
	<br/>
	<code ng-non-bindable>{{17.654321 | number:1}}</code>
	<div>{{17.654321 | number:1}}</div>
	<br/>
	<code ng-non-bindable>{{17.654321 | number:2}}</code>
	<div>{{17.654321 | number:2}}</div>
	<br/>
	<code ng-non-bindable>{{17.654321 | number:3}}</code>
	<div>{{17.654321 | number:3}}</div>
	<br/>
	<code ng-non-bindable>{{17.654321 | number:4}}</code>
	<div>{{17.654321 | number:4}}</div>
	<hr>
	
	<h3>Chain of filters:</h3>
	<div>{{ 17.6 | number:0 | currency }}</div>
	
	<hr>
	
	
	<h2>Custom filter:</h2>
	
	
	<div>{{true|iconize}} It is OK.</div>
	<div>{{false|iconize}} It is NOT OK.</div>
	
	<h2>Custom filter (with two paramters):</h2>
	
	<code ng-non-bindable>{{ 2 | pow:3 }}</code>
	<div>{{ 2 | pow:3 }}</div>
	
	<code ng-non-bindable>{{ 5 | pow:2 }}</code>
	<div>{{ 5 | pow:2 }}</div>
	
	
</body>

</html>

