<!doctype html>
<html ng-app>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="scrip.js"></script>
</head>

<body>
    <div ng-controller='TstController'>
		<label>num1:</label><input type='number' ng-model='num1'>
		<br>
		<label>num2:</label><input type='number' ng-model='num2'>
		<br>
		<label>sum:</label>{{sumFunc()}}
		<br>
		<label>Is over 50:</label> {{isOver50}}
    </div>
</body>

</html>

