<!doctype html>
<html ng-app='serviceTest'>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="scrip.js"></script>
</head>

<body>
    <div ng-controller='Controller'>
		<div>testMyService1: {{testMyService1}}</div>
		<div>testMyService2: {{testMyService2}}</div>
		<div>testMyService3: {{testMyService3}}</div>
		<div>testMyService4: {{testMyService4}}</div>
    </div>
</body>

</html>

