<!doctype html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<script src="tabs.js"></script>	
	<link rel="stylesheet" href="http://angularjs.org/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

</head>

<body>

	
<div ng-app="docsTabsExample" class='centred'>
  <my-tabs>
    <my-pane title="Hello">
      <h5 id="creating-custom-directives_source_hello">Hello</h5>
      <p>Lorem ipsum dolor sit amet</p>
    </my-pane>
    <my-pane title="World">
      <h5 id="creating-custom-directives_source_world">World</h5>
      <em>Mauris elementum elementum enim at suscipit.</em>
      <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
    </my-pane>
  </my-tabs>
  </body>

</html>