<!doctype html>
<!-- 
1) ng-app:

Use this directive to auto-bootstrap an application. Only one ngApp directive can be auto bootstrapped rer HTML document (the first one). 
The directive designates the root of the application and is typically placed at the root of the page.

There are at least 4 different syntax for directives:
    no validator:                   <span ng-bind="name">	
    IDE XML mode:                   <span ng:bind="name"> 	
	HTML5 validator compilant mode: <span data-ng-bind="name">
	XHTML:                          <span x-ng-bind="name">

-->
<html ng-app>

<head>
    <!--
2) Loading the minified angular library. 
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
</head>

<body>
    <div>
        <label>Name:</label>
        <!-- 
3) ng-model:

This directive binds an input, select, textarea (or custom form control) to a property on the scope. This means that any changes to the control update the data in your model, and when you change the model it updates the control.
        -->
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        
        <!-- 
4) {{ }} :

It is a declarative way of specifying data binding locations in the HTML. AngularJS will automatically update this text whenever the "yourName" property changes.
        -->
        <h1>Hello {{yourName}}!</h1>
        
        <!-- 
5) In the view an expression can be used in the binding. Expressions are JavaScript-like code snippets

You can think of Angular expressions as JavaScript expressions with following differences:

* Attribute Evaluation: evaluation of all properties are against the scope, doing the evaluation, unlike in JavaScript where the expressions are evaluated against the global window.

* Forgiving: expression evaluation is forgiving to undefined and null, unlike in JavaScript, where trying to evaluate undefined properties can generate ReferenceError or TypeError.

* No Control Flow Statements: you cannot do any of the following in angular expression: conditionals, loops, or throw.

* Filters: you can pass result of expression evaluations through filter chains. For example to convert date object into a local specific human-readable format.
-->
        <h2> Length of your name:  {{yourName.length}} </h2>
    </div>
</body>

</html>

