<!doctype html>
<html ng-app>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	<link rel="stylesheet" href="http://angularjs.org/css/bootstrap.min.css">
	<!-- 
1) Loading a the javascript file containing our todo controller: TodoCtrl.
	-->
	
	<script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>

<body>
	<div class="centered">
    <h2>Todo</h2>
	
	<!-- 
2) Naming the controller.
	ng-controller:
		
	This directive attaches a controller class to the view. This is a key aspect of how angular supports the principles behind the Model-View-Controller design pattern.
		
		MVC components in angular:
		
			* Model: The Model is scope properties; scopes are attached to the DOM where scope properties are accessed through bindings.
			* View: The template (HTML with data bindings) that is rendered into the View.
			* Controller: The ngController directive specifies a Controller class; the class contains business logic behind the application to decorate the scope with functions and values
		
		What are scopes?
		Scope is an object that refers to the application model.
		Scopes are arranged in hierarchical structure which mimic the DOM structure of the application.
		Scopes can be nested to isolate application components while providing access to shared model properties. A scope (prototypically) inherits properties from its parent scope.
		For details see: https://github.com/angular/angular.js/wiki/Understanding-Scopes
	-->
	
    <div ng-controller="TodoCtrl">
		
		<!--
3) Simple bindings.
   
The "remaining" is function and "todos" is an array available via the scope.
		-->
		
        <span>{{remaining()}} of {{todos.length}} remaining</span>
		
		<!--
4) ng-click:

The ngClick directive allows you to specify custom behavior when an element is clicked.
		-->
		
        [
        <a href="" ng-click="archive()">archive</a>]
        <ul class="unstyled">
			
			<!-- 
5) ng-repeat:

This directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection item, and $index is set to the item index or key.
			-->
			
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
		
		<!--
6) ng-submit:

Enables binding angular expressions to onsubmit events.

Additionally it prevents the default action (which for form means sending the request to the server and reloading the current page) but only if the form does not contain an action attribute.
		-->
		
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
    </div>
	</div>
</body>

</html>