<h2>User form</h2>
<form name="myForm">
	<div>First name:
		<input name="firstName" ng-model="user.firstName" required placeholder="Enter the first name">
	</div>
	<div>Last name:
		<input name="lastName" ng-model="user.lastName" required placeholder="Enter the last name">
	</div>
	<button ng-click="userSave()" class="btn btn-primary">Save</button>
  	<button ng-click="userDelete()" ng-show="user.id" class="btn btn-danger">Delete</button> 
</form>